* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

html {
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#main-container {
  background-image: url(../images/best.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 8em;
}

.search {
  padding-top: 7em;
}

#location-input {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  box-shadow:
    0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #6e6d70;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#search-button {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background: #6e6d70;
  box-shadow:
    0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

#search-button:focus {
  box-shadow:
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.weather-data {
  position: absolute;
  bottom: 50%;
  color: #ffffff;
}

#city-name {
  font-size: 170%;
}

#current-temp {
  font-size: 450%;
  font-weight: bold;
}

#feels-like {
  font-size: 100%;
}
